<app-quote-form (addquote)="addNewGoal($event)"></app-quote-form>

<h1>My Quotes</h1>
<hr />

<ul>
  <div *ngFor="let quote of quotes; let i = index">
    <li appStrikethrough>{{ quote.name }}</li>

    <button class="toog" (click)="toogleDetails(i)">Toogle Details</button>
    <button class=upvote (click)="upvote(i)">quote.upvotes</button>
    <button class="downvote" (click)="downvote(i)">quote.downvotes</button>
    <app-quote-details
      *ngIf="quote.showAuthor"
      [quote]="quote"
      (isComplete)="deleteQuote($event, i)"
    ></app-quote-details>
  </div>
</ul>
<!-- <p *ngIf='goals.length > 5'>You have too many quotes</p> -->
